.browse{
    background-image: url(../../../image/background2.jpg);
    background-size: cover;
    height: 100vh;
    width:100%;
    
}
.text{
    text-align: left;
    font-size: 60px;
    line-height: 1.1em;
}
