.banner{
    background-image: url(../../../image/high-angle-body-lotion-other-spa-essentials.jpg);
    
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    background-size: cover;
    height: 600px;
    width: 100%;
    overflow: hidden;
    
   
  

}
.font{
font-weight: 700;


}
.paragraph{
    font-size: larger;
}
