.add-service{
    background-image: url(../../image/glittery-star-confetti-colorful-abstract-pastel-watercolor-background.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}


.add-service form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

   
.add-service form textarea, input{
    width: 60%;
    margin-bottom: 10px;
    border-radius: 5px; 
    border-width: 3px;
    border-color:  #ee2d7a;
    height: 42px;
    background: transparent;

}

   
