.purchase form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.purchase form input, textarea{
    width: 60%;
    margin-bottom: 12px;
    background: transparent;
    border-width: 2px;
    border-color:  #ee2d7a;
}
.purchase{
    background-image: url(../../image/glittery-star-confetti-colorful-abstract-pastel-watercolor-background.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    
}
.area{
    height: 120px;
    
}